<!-- Add your custom scripts/links/tags here that should go in the <head> section -->
<script defer src="https://umami.grew.cc/myscript" data-website-id="b2daf838-b6d4-4783-a157-e2fbe0cc225d"></script>

{{if .Page.Site.Params.fancybox }}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{{ end }}

<script src="{{"/js/codeblock.js" | relURL}}"></script>